@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* shared styles */

.btn-primary {
    background: linear-gradient(90deg,#FBA24F 0%, #FD5B35 53%, #FF1E1E 100%);
    padding: 24px 32px;
    border-radius: 100px;
    border: none;
    width: 192px;
    color: white;
    font-size: 1.125rem;
    font-weight: 500;
    
}